body, html{
    height:auto;
}

.breadcrumb {
    margin-bottom: 0px;
    padding: 12px 30px;
    height: 48px;
}

section.content {    
    margin: 70px 0px 0 285px;
}

section.content .container-fluid {    
    margin: 0px 25px;
}