<!DOCTYPE html>
<html ng-app="Unturned2">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title ng-bind="$root.config.title">Unturned II Dashboard</title>

    <link href="//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link href="/style/angular-material.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
</head>
<body layout="column">
    <div class="page-loader-wrapper" ng-show="$root.finished">
        <md-progress-circular md-diameter="70" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="overlay"></div>
    <md-toolbar layout="row" class="md-toolbar-tools">
        <h1>{{ $root.config.title }}</h1>
    </md-toolbar>

    <div flex layout="row">

            <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">


              <md-list ng-controller="MenuController as vm">

                    <md-list-item class="md-2-line">
                    <img ng-src="{{$root.profile.avatar}}" width="48" height="48" class="md-avatar"/>
                    <div class="md-list-item-text">
                        <h3>{{$root.profile.userName}}</h3>
                        <p>{{$root.profile.name}}</p>
                    </div>
                            <md-menu class="md-secondary">
                              <md-button class="md-icon-button">
                                <md-icon >power_settings_new</md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                <md-menu-item ng-hide="$root.loggedIn == true" >
                                        <md-button href='/api/login' md-no-ink class="md-primary">Login</md-button> 
                                </md-menu-item>
                                <md-menu-item ng-show="$root.loggedIn == true" >
                                      <md-button href='/api/logout' md-no-ink class="md-primary">Logout</md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                        
                          </md-list-item>

                    <md-list-item ng-repeat="item in vm.menu" ng-show="item.visible" ng-click="$root.navigate(item)">
                        <md-icon ng-bind="{{ item.icon }}"></md-icon>
                        <p>{{ item.title}}</p>
                    </md-list-item>
              </md-list> 
            </md-sidenav>
            <md-content flex id="content"><ng-view></ng-view></md-content>
            
          </div>

    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/lib/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-script.js"></script>
    <script type="text/javascript" src="/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/angular-aria.min.js"></script>
    <script type="text/javascript" src="/lib/angular-messages.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material.min.js"></script>
    <script type="text/javascript" src="/lib/angular-websocket.min.js"></script>

    <script type="text/javascript" src="/src/app.js"></script>
    <script type="text/javascript" src="/src/controllers/menuController.js"></script>
    <script type="text/javascript" src="/src/factories/config.js"></script>
    <script type="text/javascript" src="/src/factories/eventing.js"></script>
    <script type="text/javascript" src="/src/services/profile.js"></script>
</body>

</html>